body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
.hidden {
  display: none;
}
paper-progress {
  width: 100%;
}
paper-input .floated-label-placeholder {
  display: none !important;
}

paper-input .unfocused-line {
  background: rgba(255, 255, 255, 0.7) !important;
}
